<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
             
	<servlet>
		<servlet-name>RootCertServlet</servlet-name>
		<servlet-class>cloudapp.RootCertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RootCertServlet</servlet-name>
		<url-pattern>/admin/rootcert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserListServlet</servlet-name>
		<servlet-class>cloudapp.UserListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserListServlet</servlet-name>
		<url-pattern>/admin/userlist</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserCertServlet</servlet-name>
		<servlet-class>cloudapp.UserCertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCertServlet</servlet-name>
		<url-pattern>/usercert</url-pattern>
	</servlet-mapping>	
	
    <listener>
        <listener-class>cloudapp.ContextInitializer</listener-class>
    </listener>	
    
	<welcome-file-list>
		<welcome-file>main.jsp</welcome-file>
	</welcome-file-list>
	
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>	
       
</web-app>
